* {margin: 0; padding: 0; }

.content {
width: 80%;
margin: 0 auto;
}

.paragraph {
color: black;
margin-left: 35%;
margin-top: 10%;
}


.box {
width: 100px;
height: 100px;
margin: 10px 0;
}


.box-1 {
background-color: black;
}
